@property --highlight-color-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(175, 75, 100); /*rgb(151, 47, 108);*/
}

@property --highlight-color-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(0, 0, 0); 
}

/*
*
* Highlight
*
*/

::selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-moz-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-webkit-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}

mark {
    background: var(--highlight-color-primary);
    color: var(--highlight-color-secondary);
}