<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" type="text/css" media="all" />

	<link rel="icon" type="image/x-icon" href="/img/coolpfp.png">

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px;padding: 0px; overflow: hidden;">

<canvas id="canvas" oncontextmenu="event.preventDefault()" style="height: 100vh; width: 100vw;"></canvas>
    <div id="web_demo_links" style="position: absolute; z-index: 1; bottom: 8px; right: 8px;">
        <a class="text" href="/">home</a>
        <a>|</a>
        <a class="text" href="{{ .Params.source_link }}" target="_blank">source</a>
    </div>
    <script type='text/javascript'>
        var Module = {
            canvas: (function() { return document.getElementById('canvas'); })()
        };
    </script>
    <script src="{{ .Params.script_dir | urlize | relURL }}"></script>
    <!--605-->
    <!--<script type="text/plain" src="{{ .Params.source_dir | urlize | relURL }}"></script>-->
</body>
</html>